html,
body {
  background-color: #2b4bbd;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

/* Estilos del boton */
button {
  padding: 15px;
  font-size: 1.3rem;
  cursor: pointer;
}
